<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0">

<servlet>
<servlet-name>addCustomer</servlet-name>
<servlet-class>servlet.addCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addCustomer</servlet-name>
<url-pattern>/addcus</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>login</servlet-name>
<servlet-class>servlet.login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>login</servlet-name>
<url-pattern>/cuslog</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>adminlogin</servlet-name>
<servlet-class>servlet.adminlogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>adminlogin</servlet-name>
<url-pattern>/admlog</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>manageUsers</servlet-name>
<servlet-class>servlet.manageUsers</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>manageUsers</servlet-name>
<url-pattern>/mangu</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>deleteUsers</servlet-name>
<servlet-class>servlet.deleteUsers</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteUsers</servlet-name>
<url-pattern>/dusers</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>addDriver</servlet-name>
<servlet-class>servlet.addDriver</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addDriver</servlet-name>
<url-pattern>/adddrv</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>manageDrivers</servlet-name>
<servlet-class>servlet.manageDrivers</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>manageDrivers</servlet-name>
<url-pattern>/mangedrv</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>deleteDrivers</servlet-name>
<servlet-class>servlet.deleteDrivers</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteDrivers</servlet-name>
<url-pattern>/ddriver</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updateDriver</servlet-name>
<servlet-class>servlet.updateDriver</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updateDriver</servlet-name>
<url-pattern>/upddriver</url-pattern>
</servlet-mapping>

</web-app>